# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# pastas do projeto
# /src/app/testelayout
# /src/app/CardRiskAnalysisAI
# /src/app/testerelatorio
/src/app/api/generate-pdf/page.tsx
/src/app/api/
/src/app/editorantigo

# componentes do projeto
# /src/components/MyCustomList
/src/components/Welcome
# /src/components/Container
# /src/components/DadosDaInspecao
# /src/components/DadosDaAnaliseDeRisco
/src/components/ListaDeRiscos
# /src/components/ActionBar

# arquivos do projeto
/src/app/page-home-1.tsx;
/src/app/CardListRisk/_components/'card-list-risk v1.tsx'
/src/app/CardListRisk/_components/'card-list-risk copy.tsx'
/src/app/CardListRisk/_components/'card-list-risk copy 2.tsx'
/src/app/DialogAnalysisRisk/'index copy.tsx'
/src/lib/context/'SystemContext copy.tsx'

